
body {
    margin: 0px;
    display: flex;
    flex-direction: column;
    align-items: space-between;
    justify-content: space-between;
    height: 100vh;
}

.header {
    background-color: #D7E1DB;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 16px;
}

.header a {
    font-size: 24px;
    font-weight: bold;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #333;
    text-decoration: none;
}

.header a:hover {
    text-decoration: underline;
}

.intro {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 2% 20%;
    gap: 8px;
    color:#4a4a4a;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}

.image-wrapper {
    position: relative;
}

.caption {
    position: absolute;
    background-color: #D88530;
    box-shadow: 0px 0px 10px #D88530;
    border-radius: 4px;
    width: 200px;
    padding: 16px;
    top: 25%;
    left: 12%;
    font-style: italic;
    color:#fff;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1rem;
}

.soups {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 8px 20% 40px;
}

.soups h2 {
    font-size: 20px;
    font-weight: bold;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #333;
    text-align: center;
}

.soups p {
    margin-top: -8px;
    color:#8f8f8f;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    text-align: center;
}

.soup-wrapper {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 80px;
    padding: 24px;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
}

.soup-img {
    width: 100px;
    height: 100px;
}

.recipe {
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-style: bold;
    color: #C3611E;
}

.recipe:hover {
    color:#D88530;
}

.footer {
    background-color: #D7E1DB;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
    color: #333;
}

.footer a {
    color: #333;
}

.recipe-content {
    flex: 1;
    padding: 2% 20%;
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.recipe-content h2 {
    font-size: 20px;
    font-weight: bold;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #333;
    margin-bottom: -20px;
}

h3 {
    font-size: 16px;
    font-weight: bold;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #333;
    margin-bottom: -20px;
}

.description {
    display: flex;
    align-items: center;
    gap: 40px;
}

.recipe-content p, ul, ol {
    color:#4a4a4a;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}